body{
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}
p.kio{
    text-decoration: none;
    text-decoration-color:darkolivegreen;
    font-family:verdana;
    font-weight:600;
    font-size: 30px;
    color: red;
    text-align: center;
}
.photo{
    height:100%;
    width: 100%;
    float: center;
    margin-top:100px;
    border-radius: 20px;
}
.form{
    position: absolute;
    top: 10%;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
    width: 400px;
    background-color:skyblue;
    border-radius: 20px;
}

.input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-size: 20px;font-family:verdana;
    font-weight:400;
}

.input::placeholder{
    color: lightgray;
}

.list{
    padding: 0;
    margin: 0;
}

.list li{
    list-style-type: none;
    padding: 20px;
    font-family:verdana;
    font-weight:400;
    border-top: double;
    border-color: darkgray;
    position: relative;
}

.list li .fa-trash{
    color: red;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.list li .fa-check-square{
    color: green;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.list li.checked {
    color: darkgray;
    text-decoration: line-through;
}

.list li.checked .fa-check-square{
    color: darkgray;
}